.movie {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border: none;
}

.movie-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.movie__info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.movie__title {
    font-size: 15px;
    line-height: 18px;
    margin: 15px 0 10px 0;
    font-weight: 500;
}

.movie__time {
    font-size: 11px;
    line-height: 13px;
    color: rgba(160, 160, 160, 1);
    margin: 0 0 14px 0;
}

.movie__bookmark {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    rgba(249, 249, 249, 1);
    width: 30px;
    height: 30px;
    border-radius: 36px;
    margin: 20px 15px 0 0;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-position: center;
    cursor: pointer;
}

.movie__bookmark_type_save {
    background-image: url(../../images/save.svg);
}

.movie__bookmark_type_save-active {
    background-image: url(../../images/save-active.svg);
    background-color: 
    rgba(43, 224, 128, 1);
}

.movie__bookmark_type_delete {
    background-image: url(../../images/delete.svg);
}

.movie__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 203px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .movie__image {
        height: 190px;
    }
}

@media screen and (max-width: 497px) {
    .movie__image {
        height: 250px;
    }
}

@media screen and (max-width: 380px) {
    .movie__image {
        height: 168px;
    }
}