.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__title {
    margin: 74px 0 123px 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
}

.profile__title_type_container {
    margin: 74px 0 123px 0;
    font-size: 24px;
    line-height: 29px;
}

.profile__form {
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__input-container {
   display: flex;
   justify-content: space-between;
}

 .profile__divider {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 21px;
 }

.profile__input {
    text-align: right;
    border: none;
    outline: none;
}

.profile__button {
    border: none;
    background: transparent;
    font-size: 13px;
    line-height: 16px;
    margin: 220px 0 16px 0;
}

.profile__button:hover {
    cursor: pointer;
    opacity: .8;
}

.profile__button_disabled {
    color: rgba(169, 169, 169, 1);
}

.profile__logout {
    color: #EE3465;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    margin-bottom: 70px;
}

.profile__input-error {
    color: red;
    font-size: 10px;
    margin-top: 5px;
    height: 21px;
}

@media screen and (max-width: 678px) {
    .profile__title {
        margin: 70px 0 80px 0;
    } 

    .profile__form {
        width: 260px;
    }

    .profile__label {
        font-size: 11px;
        line-height: 13px;
    }

    .profile__input {
        font-size: 11px;
        line-height: 13px;
    }

    .profile__button {
        margin: 380px 0 16px 0;
    }
}