.footer {
    background-color: rgba(250, 250, 250, 1);
    margin-top: auto;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 140px);
    padding: 80px 0 20px 0;
    margin: 0 auto;
  }
  
  .footer__title {
    padding: 0 0 20px 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #424242;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  
  .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0;
    align-items: initial;
  }
  
  .footer__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
  }
  
  .footer__links {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .footer__links-item {
    margin-right: 20px;
  }
  
  .footer__links-item:last-of-type {
    margin-right: 0;
  }
  
  .footer__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    text-decoration: none;
    color: #000000;
    transition: opacity 0.3s;
  }
  
  .footer__link:hover {
    opacity: 0.1;
  }

  @media screen and (max-width: 1023px) {
    .footer__container {
        width: calc(100% - 60px);
    }
  }


  @media screen and (max-width: 678px) {
    .footer__container {
      width: calc(100% - 20px);
    }

    .footer__title {
      font-size: 12px;
      line-height: 14px;
    }

    .footer__info {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 0;
      align-items: center;
    }

    .footer__links {
      flex-direction: column;
    }

    .footer__links-item {
      margin-right: 0px;
      margin-bottom: 12px;
    }
    
    .footer__links-item:last-of-type {
      margin-bottom: 30px;
    }
  }
