  .auth__sign-in {
    text-align: center;
    text-decoration: none;
    color: rgba(169, 169, 169, 1);
}

@media all and (max-width:767px) {
    .auth__sign-in {
        margin-right: 27px;
    }
}

.auth__sign-in_type_header {
    font-size: 18px;
    line-height: 22px;
}

@media all and (max-width:767px) {
    .auth__sign-in_type_header {
        font-size: 14px;
        line-height: 17px;
        margin-right: 27px;
    }
}

.auth__sign-in_type_main {
    font-size: 14px;
    line-height: 17px;
}

.auth__sign-in_title {
color:rgba(255, 104, 56, 1)
}