.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 0s, opacity 0.5s linear;
}

.auth__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}

.auth__title {
    margin: 0 0 40px 0;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    font-weight: 500;
    text-align: left;
}

.auth__form { 
    width: 396px;
}

.auth__input-error {
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    display: block;
    box-sizing: border-box;
    height: 20px;
    margin: 5px 0;
}

.auth__label {
    font-size: 10px;
    line-height: 12px;
    color: rgba(160, 160, 160, 1);
}

.auth__input {
    width: calc(100% - 30px);
    color: #000000;
    background-color: rgba(249, 249, 249, 1);
    border: none;
    height: 46px;
    outline: none;
    font-size: 13px;
    line-height: 16px;
    outline: none;
    border-radius: 8px;
    margin-top: 10px;
    padding: 0 15px;
}

.auth__input:focus {
    border-bottom: 2px solid rgba(204, 204, 204, .5);
  }



.auth__submit-button {
    width: 100%;
    background-color: rgba(255, 104, 56, 1);
    cursor: pointer;
    padding: 0;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    transition: opacity .5s ease-in .1s;
    height: 45px;
    border:none;
    border-radius: 3px;
}

.auth__submit-button_disabled {
    background-color: rgba(169, 169, 169, 1);
}


.auth__submit-button_type_signup {
    margin: 69px 0 0 0;
}

.auth__submit-button_type_signin {
    margin: 179px 0 0 0;
}

.auth__submit-button:hover {
    opacity: .8;
}

.auth__sign {
    font-size: 14px;
    line-height: 17px;
    color: rgba(169, 169, 169, 1);
    margin: 14px 0 0 0;
    align-self: center;
}

.auth__sign-link
 {
    color:rgba(255, 104, 56, 1);
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 0 0 7px;
}

@media all and (max-width:768px) {

    .auth__form {
        width: 260px;
    }

    .auth__submit-button {
        height: 46px;
        font-size: 12px;
        line-height: 14px;
    }

    .auth__title {
        margin: 0 0 80px 0;
        text-align: center;
    }

    .auth__submit-button_type_signup {
        margin: 155px 0 0 0;
    }

    .auth__sign {
        font-size: 12px;
        line-height: 14px;
    }
    
    .auth__sign-link
     {
        font-size: 12px;
        line-height: 14px;
    }

}







